<body onkeydown="return false">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/themes/prism-okaidia.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/prism.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/line-numbers/prism-line-numbers.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/line-numbers/prism-line-numbers.js"></script>

<iframe name="iFrame1" width=1340 height=400 src="{{kod.komutlar_kodu}}" scrolling="yes" frameborder="1"></iframe>

<p><h3 style="color: white;">&nbsp;&nbsp;• Altyapı İsmi;</h3></p>
<div class="codesayfasi">
 <pre ><code class="language-javascript line-numbers" data-src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/line-numbers/prism-line-numbers.js" data-start="-5" >{{kod.isim}} </code> </pre>
</div>

<p><h3 style="color: white;">&nbsp;&nbsp;• Altyapı Açıklaması;</h3></p>
<div class="codesayfasi">
 <pre ><code class="language-javascript line-numbers" data-src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/line-numbers/prism-line-numbers.js" data-start="-5" >{{kod.aciklama}} </code> </pre>
</div>