<form action="hatakodform" method="POST">
  

<center>
<font size="8" color="white">Atlas Development</font>
  <br>
<font size="5" color="white">Kod Hata Bildirme Sayfası</font>
<br><br><br>
<font size=4 color="white">Hatayı Bildiren Kişi</font>
<input type="text" class="form-control" name="hata_sahip" id="hata_sahip" placeholder="{{kullanıcıisim}}" disabled>
<br><br>  
<font size=4 color="white">Hatası Olan Kod</font>
<input type="text" class="form-control" name="hata_hata" id="hata_hata" placeholder="Inviter || Kategorisindeki ... adlı kodun şu sorunu var." >
<br><br>  
<font size=4 color="white">Hataya Bağlı Görsel</font>
<input type="url" class="form-control" name="hata_hataimage" id="hata_hataimage" placeholder="https://cdn.discordapp.com/attachments/762013898043686943/762325131950686238/image0.jpg">
<br><br>
<button type="submit" class="btn btn-danger btn-block" style="text-alight:center;">Gönder</button>
</center>
  
</form>